<ion-card [hidden]="Comment.isFlagged" style="width: 90vw;">
    <ion-item style="background:#6a597d; color:white;">
        <ion-avatar item-start>
            <img [src]="Comment.commenter?.profilePicture" (click)="viewProfile()">
        </ion-avatar>
        <h2 (click)="viewProfile()" style="font-weight:bold; color:white">{{Comment.commenter?.fullName}}</h2>
        <ion-note>
            {{Comment.createdDate | dateAge}}
        </ion-note>
        <ion-buttons item-end>
            <button ion-button (click)="viewMore()" clear color="light"><ion-icon name="more"></ion-icon></button>
        </ion-buttons>
    </ion-item>
    <ion-card-content style="margin-top:10px;">
        <p>{{Comment.content.body}}</p>
        <img *ngIf="Comment.content.contentType == 'photo'" [src]="Comment.content.img">
    </ion-card-content>
    <ion-row>
        <ion-col>
            <button ion-button item-start clear (click)="likeComment(Comment._id)" [color]="likeColor">
                <ion-icon name="thumbs-up"></ion-icon> {{Comment.numLikes}} Likes
            </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="viewLikes()" color="dark">
            <ion-icon name="eye"></ion-icon> View
          </button>
        </ion-col>
    </ion-row>
</ion-card>