<ion-header>
  <!--<ion-navbar>
    <ion-title>
      Post Comment
    </ion-title>
  </ion-navbar>-->

  <style>
    *:focus {
      outline: none;
    }
  </style>

</ion-header>
<ion-content style="margin:none;background:#f4f5f4; padding:0;height:100%;">
  <div style="height:100%;"> 
    <div style="width:102%; height:175px; background:#2e1793; margin-left:-1%;margin-top:-10px;text-align:center;z-index:1;padding-top:50px;border:none;">
        <button type="button" (click)="cancel()" style="width:25px;font-family: 'Montserrat', sans-serif;font-size:125%;margin-left:20px;color:white;float:left;background:none;border:none;"><ion-icon name="arrow-back"></ion-icon></button>
        <span style="font-size:150%; color:white; width:100%;margin-left:-45px;"><b>New Post</b></span>
    </div>
    <form autocomplete="off" (ngSubmit)="submitPost(createPostForm.value)" #createPostForm="ngForm">
      <div style="width:90%;background:white;height:80%;margin-left:5%;z-index:2;margin-top:-75px;">
        <ion-list>
          
          <ion-item style="width:95%; padding:none;height:50px;">
            <ion-textarea style="font-family: 'Montserrat', sans-serif;width:80%;font-size:100%;color:black;border:none;margin-top:10px;" placeholder="Title" name="title" (ngModel)="title"></ion-textarea>      
          </ion-item>
          <ion-item style="width:95%; padding:none;height:50px;">
            <ion-textarea style="font-family: 'Montserrat', sans-serif;width:80%;font-size:100%;color:black;border:none;margin-top:10px;" placeholder="Location" name="location" (ngModel)="location"></ion-textarea>      
          </ion-item>
          <ion-item *ngIf="postType == 'photo'" style="width:95%; padding:none;height:50px;"> 
            <ion-textarea style="font-family: 'Montserrat', sans-serif;width:80%;font-size:100%;color:black;border:none;margin-top:10px;"placeholder="Caption" name="caption" (ngModel)="caption"></ion-textarea>
          </ion-item>
          <ion-item style="width:95%; padding:none;height:50px;">
            <ion-label>Mappable</ion-label>
            <ion-toggle [(ngModel)]="mapable" name="mapable"></ion-toggle>
          </ion-item>
          
          <div>
            <img *ngIf="postType == 'photo'" [src]="imageData" style="width:90%; margin-left:5%;padding:none;height:auto;">
          </div>
          <ion-item *ngIf="postType == 'text'" style="width:95%; padding:none; height:100%;">
            <ion-textarea rows="10" cols="25" style="font-family: 'Montserrat', sans-serif;font-size:100%;padding:1px, 1px, 1px, 1px;width:105%;background:#f4f5f4;height:auto; border:none;" placeholder="Comment" name="comment" (ngModel)="comment"></ion-textarea>
          </ion-item>
          <!--<ion-textarea *ngIf="postType == 'text'" rows="15" cols="75" style="font-family: 'Montserrat', sans-serif;font-size:100%;padding:1px 1px 1px 1px;width:90%;margin-left:5%;background:#f4f5f4;height:auto; border:none;" placeholder="Comment" name="comment" (ngModel)="comment"></ion-textarea>-->
          
          
          <!--<div style="height:50px;"></div>-->
        </ion-list>
        <div align-center>
        </div>
      </div>
      <button type="submit" style="font-family: 'Montserrat', sans-serif;font-size:125%;width:100%; height:60px; background:#2e1793; position:fixed;bottom:0;right:0;padding:none;color:white;"><b>Share</b></button>
    </form>
  </div>
 
</ion-content>