<ion-header style="padding-top:5%">
    <ion-navbar style="padding-top:3%">
        <ion-title>
            People
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-color: #cbd3db">
    <ion-searchbar placeholder="Search users..." [(ngModel)]="searchText" (ionInput)="searchUsers($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor='let req of followRequests'>
            <ion-avatar item-start>
                <img [src]='req.sourceUser?.profilePicture' (click)='viewProfile(req.sourceUser)'>
            </ion-avatar>
            <h3 style="font-weight:bold" (click)='viewProfile(req.sourceUser)' text-wrap>{{req.sourceUser?.fullName}}</h3>
            <p text-wrap> has requested to follow you </p>
            <ion-buttons item-end>
                <button ion-button [hidden]="req.status === 'pending'" disabled color="light">{{req.status}}</button>
                <button ion-button [hidden]="req.status !== 'pending'" (click)="approveRequest(req)">Approve</button>
                <button ion-button [hidden]="req.status !== 'pending'" color="danger" (click)="declineRequest(req)">Decline</button>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <ion-list [hidden]="!searchText">
        <ion-item *ngFor='let user of searchList'>
            <ion-avatar item-start>
                <img [src]='user?.profilePicture' (click)="viewProfile(user)">
            </ion-avatar>
            <h3 style="font-weight:bold" (click)="viewProfile(user)">{{user?.fullName}}</h3>
            <h3 [hidden]="user._id == authService.mongoUser._id || !user.followed" item-end><ion-icon name="star" [color]="user.followColor"></ion-icon>{{user.followText}}</h3>                        
        </ion-item>
    </ion-list>
    <ion-row *ngFor="let post of followPosts">
        <post-card [Post]="post" (reportEmitter)="reportPost($event, i)" (deleteEmitter)="deletePost($event, i)"></post-card>
    </ion-row>
</ion-content>