<ion-header>
  <ion-navbar>
    <ion-title style="font-weight:bold">
      Profile
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isActiveUser" ion-button (click)="viewNotifications()" icon-right><ion-icon name="flag" color="light"></ion-icon><ion-badge *ngIf="notifications && notifications.length > 0" color="danger">{{notifications?.length}}</ion-badge></button>
      <button *ngIf="isActiveUser" ion-button (click)="settings()" icon-right><ion-icon name="settings" color="light"></ion-icon></button>
      <button *ngIf="!isActiveUser" ion-button (click)="followUser()" icon-right [color]="followColor"><ion-icon name="star" [color]="followColor"></ion-icon>{{followText}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #cbd3db">
  <ion-item no-lines>
      <ion-avatar item-start>
        <img [src]="user?.profilePicture">
      </ion-avatar>
      <h4 style="font-weight:bold;font-size:large" color="dark">{{user?.fullName}}</h4>
      <button ion-button clear color="dark" (click)="viewFollowerList()" float-left>{{user?.numFollowers}} Followers</button>
      <button ion-button clear color="dark" (click)="viewFollowingList()" float-right>{{user?.numFollowed}} Following</button>
  </ion-item>
  <ion-row *ngFor="let post of user?.myPosts">
      <post-card [Post]="post" (reportEmitter)="reportPost($event, i)" (deleteEmitter)="deletePost($event, i)"></post-card>
  </ion-row>
  <button ion-button block (click)="loadMore()">Load more posts</button>
  <ion-fab right bottom>
    <button ion-fab  color="warning"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="postText()"><ion-icon name="text"></ion-icon></button>
      <button ion-fab (click)="postPhoto()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="postSavedPhoto()"><ion-icon name="image"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>