<ion-header style="padding-top:5%">
    <ion-navbar style="padding-top:3%">
        <ion-title>{{listType}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: #cbd3db">
    <ion-list>
        <ion-item *ngFor='let user of followList'>
            <ion-avatar item-start>
                <img [src]='user?.profilePicture' (click)="viewProfile(user)">
            </ion-avatar>
            <h3 style="font-weight:bold" (click)="viewProfile(user)" text-wrap>{{user?.fullName}}</h3>
            <h3 [hidden]="user._id == authService.mongoUser._id || !user.followed" item-end><ion-icon name="star" [color]="user.followColor"></ion-icon>{{user.followText}}</h3>
        </ion-item>
    </ion-list>
</ion-content>