<ion-header>
    <ion-navbar>
        <ion-title style="font-weight:bold;">
            Comments
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-color: #cbd3db">
    <ion-row *ngFor="let comment of postComments; let i = index">
        <comment-card [Comment]="comment" (reportEmitter)="reportComment($event, i)" (deleteEmitter)="deleteComment($event, i)"></comment-card>
    </ion-row>
    <ion-fab right bottom>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="postText()"><ion-icon name="text"></ion-icon></button>
          <button ion-fab (click)="postPhoto()"><ion-icon name="camera"></ion-icon></button>
          <button ion-fab (click)="postSavedPhoto()"><ion-icon name="image"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>